---
http_interactions:
- request:
    method: post
    uri: https://bugzilla.gnome.org/xmlrpc.cgi
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><methodCall><methodName>Bug.search</methodName><params><param><value><struct><member><name>product</name><value><array><data><value><string>vala</string></value></data></array></value></member><member><name>status</name><value><array><data><value><string>resolved</string></value></data></array></value></member><member><name>component</name><value><array><data><value><string>Basic
        Types</string></value></data></array></value></member></struct></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Soapserver:
      - SOAP::Lite/Perl/1.1
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8"?><methodResponse><params><param><value><struct><member><name>bugs</name><value><array><data><value><struct><member><name>priority</name><value><string>Normal</string></value></member><member><name>blocks</name><value><array><data><value><int>604682</int></value></data></array></value></member><member><name>creator</name><value><string>mfpuente.ar@gmail.com</string></value></member><member><name>last_change_time</name><value><dateTime.iso8601>20180522T13:10:11</dateTime.iso8601></value></member><member><name>is_cc_accessible</name><value><boolean>1</boolean></value></member><member><name>keywords</name><value><array><data
        /></array></value></member><member><name>cc</name><value><array><data><value><string>esodan@gmail.com</string></value><value><string>j@bitron.ch</string></value><value><string>mickey@vanille-media.de</string></value></data></array></value></member><member><name>url</name><value><string
        /></value></member><member><name>assigned_to</name><value><string>vala-maint@gnome.bugs</string></value></member><member[...]
