---
http_interactions:
- request:
    method: post
    uri: https://bugzilla.gnome.org/xmlrpc.cgi
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><methodCall><methodName>Bug.get</methodName><params><param><value><struct><member><name>ids</name><value><array><data><value><i4>645150</i4></value></data></array></value></member></struct></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Soapserver:
      - SOAP::Lite/Perl/1.1
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><methodResponse><params><param><value><struct><member><name>faults</name><value><array><data
        /></array></value></member><member><name>bugs</name><value><array><data><value><struct><member><name>priority</name><value><string>Normal</string></value></member><member><name>blocks</name><value><array><data
        /></array></value></member><member><name>creator</name><value><string>adam@medovina.org</string></value></member><member><name>last_change_time</name><value><dateTime.iso8601>20110402T18:32:21</dateTime.iso8601></value></member><member><name>is_cc_accessible</name><value><boolean>1</boolean></value></member><member><name>keywords</name><value><array><data
        /></array></value></member><member><name>cc</name><value><array><data><value><string>eric@yorba.org</string></value><value><string>j@bitron.ch</string></value><value><string>jim@yorba.org</string></value><value><string>lucas@yorba.org</string></value></data></array></value></member><member><name>url</name><value><string
        /></value></member><member><name>assigned_to</name><value><string>vala-maint@gnome.bugs</string></value></member><member><name>groups</name><value><array><data
        /></array></value></member><member><name>see_also</name><value><array><data
        /></array></value></member><member><name>id</name><value><int>645150</int></value></member><member><name>creation_time</name><value><dateTime.iso8601>20110318T15:28:00</dateTime.iso8601></value></member><member><name>whiteboard</name><value><string
        /></value></member><member><name>qa_contact</name><value><string>vala-maint@gnome.bugs</string></value></member><member><name>depends_on</name><value><array><data
        /></array></value></member><member><name>resolution</name><value><string>FIXED</string></value></member><member><name>classification</[...]
[...]
