---
http_interactions:
- request:
    method: post
    uri: https://bugzilla.gnome.org/xmlrpc.cgi
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><methodCall><methodName>Bugzilla.version</methodName><params/></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Soapserver:
      - SOAP::Lite/Perl/1.1
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><methodResponse><params><param><value><struct><member><name>version</name><value><string>4.4.13</string></value></member></struct></value></param></params></methodResponse>
  recorded_at: Tue, 23 Oct 2018 10:54:57 GMT
recorded_with: VCR 4.0.0
